.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
}

.description {
  flex: 1 1 auto;
}

@media(max-width: 700px) {
  .content {
    flex-direction: column;
  }

  .description {
    width: 100%;
  }
}
