.container {
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
