.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  background-color: #e0d9d9;
  border-radius: 1rem;
  width: 40%;
  text-align: center;
}

@media(max-width: 700px) {
  .form {
    width: 100%;
  }
}

.loader {
  width: 30px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side,#fff 90%,#fff0) 0/calc(100%/3) 100% space;
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {to{clip-path: inset(0 -34% 0 0)}}

