.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem;
  background-color: #e0d9d9;
  border-radius: 1rem;
  width: 40%;
  text-align: center;
}

@media(max-width: 700px) {
  .form {
    width: 100%;
  }
}
