.button {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}

.primary {
  background-color: #0000ff;
}

.secondary {
  background-color: #9d9393;
}
/* 'sm' | 'md' | 'lg' */

.sm {
  padding: 0.5rem 1rem;
}

.md {
  padding: 0.8rem 4rem;
}

.lg {
  padding: 0.8rem 5rem;
}

@media (hover: hover) {
  .button:hover {
    scale: 1.1;
  }

  .primary:active {
    background-color: #0e0e95;
  }

  .secondary:active {
    background-color: #786f6f;
  }
}

@media (hover: none) {
  .primary:active {
    background-color: #0e0e95;
  }

  .secondary:active {
    background-color: #786f6f;
  }
}
