.book {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #9ba5d9;
  border-radius: 1rem;
}

.content {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
}

.author{
  font-weight: 700;
}

.controls {
  display: flex;
  gap: 0.8rem;
}
